body{
    background-color: whitesmoke;    
}

a{
  color: white;
}

a:hover{
    text-decoration: unset;
    color: bisque;
  }
  
  #c19{
      font-family: fantasy;
      animation: tittleanim 3s infinite;
  }
  
  @keyframes tittleanim{
      0% {color: floralwhite}
      50% {color: palevioletred}
      100% {color: floralwhite}
  }

#mainheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(177, 64, 64);    
    border: 7px solid rgb(182, 177, 177);
    padding: 5px;
    margin: 5px;
    color: floralwhite;
}

#forms{
    text-align: center;
}