body{
    background-color: whitesmoke;    
}

#c19{
    font-family: fantasy;
    color: floralwhite;
}

#mainheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(177, 64, 64);    
    border: 7px solid rgb(182, 177, 177);
    padding: 5px;
    margin: 5px;
    color: floralwhite;
}

#pformat{
    font-size: 24px;
}

#mainp{
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

#pictittle{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(177, 64, 64);    
    border: 7px solid rgb(182, 177, 177);
    padding: 5px;
    margin: 5px;
    color: white;
}

#mainpic{
    margin: 29px;
    width: 95%;
    border-style: outset;
    text-align: center;
    padding: 10px;
}

.imgc:hover{
    border-style: inset; 
}

.imgc:active{  
    color: #424242; 
      -webkit-transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
      -ms-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in;
      opacity: 1;
      transform: scale(2);
      -ms-transform: scale(2); /* IE 9 */
      -webkit-transform: scale(2); /* Safari and Chrome */   
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 101.5%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }