body{
    background-color: whitesmoke;    
}

#c19{
    font-family: fantasy;
    color: floralwhite;
}

#mainheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(177, 64, 64);    
    border: 7px solid rgb(182, 177, 177);
    padding: 5px;
    margin: 5px;
    color: floralwhite;
}

#pformat{
    font-size: 24px;
}

#mainp{
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

#pictittle{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(177, 64, 64);    
    border: 7px solid rgb(182, 177, 177);
    padding: 5px;
    margin: 5px;
    color: white;
}

#mainpic{
    margin: auto;
    width: 95%;
    border-style: outset;
    text-align: center;
    padding: 10px;
}